<html>
<head>
  <script src="./lib/angular.min.js"</script>
  <script src='./js/util.js'></script>
  <script src='./js/port.js'></script>
  <script src='./js/chrome.js'></script>
  <script src='./js/app.js'></script>
  <script src='./js/controllers.js'></script>

  <link rel="stylesheet" href="./css/style.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="./lib/whirly.css" media="screen" charset="utf-8">
</head>

<body ng-app="cachebrowser" ng-csp>
  <div class="container" ng-controller="MainCtrl">
      <div class="spinner-container" ng-if="state.loading">
        <div class="whirly-loader">
          Loading…
        </div>
      </div>
      <div class="info" ng-if="!state.loading">
        <h1>Site added</h1>
        <h4>{{host}}</h4>
        <div class="red splitter"></div>
        <h3><a ng-click="removeHost">Remove site</a></h3>
      </div>
  </div>
  <div id='response'></div>
</body>
</html>
